{
        log {
                output stderr
                level debug
        }
}

mr_sandwich.localhost {
        reverse_proxy /auth/* microservices_mr_sandwich_auth {
        }

        reverse_proxy /food_factory/* microservices_mr_sandwich_auth {
                header_up Host microservices_mr_sandwich_food_factory:80
        }
}
