{
    log {
        output stderr
        level error
    }
}

localhost {
    reverse_proxy /auth/* microservices_mr_sandwich_auth:80 {

    }

    reverse_proxy /food_factory/* microservices_mr_sandwich_auth:80 {
         header_up Host microservices_mr_sandwich_food_factory
    }
}
